{% extends 'admin/adminhome.html' %}

{% block title %}
Admin Approvals
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center my-4">Tourist Bookings</h1>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover ">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Contact Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Place of Visit</th>
                    <th>Date of Visit</th>
                    <th>End Of Visit</th>
                    <th>Time of Visit</th>
                    <th>Package Type</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for booking in bookings %}
                    <tr>
                        <td>{{ booking.name }}</td>
                        <td>{{ booking.contactname }}</td>
                        <td>{{ booking.email }}</td>
                        <td>{{ booking.phone }}</td>
                        <td>{{ booking.place_of_visit }}</td>
                        <td>{{ booking.date_of_visit }}</td>
                        <td>{{ booking.end_of_visit }}</td>
                        <td>{{ booking.time_of_visit }}</td>
                        <td>{{ booking.tour_package }}</td>
                        <td>{{ booking.status }}</td>
                        <td>
                            <a href="{% url 'group_approval' booking.id %}" class="btn btn-success btn-sm" style="margin:1px; padding:1px; width:100%;">Approve</a>
                            <a href="{% url 'group_denial' booking.id %}" class="btn btn-danger btn-sm" style="margin:1px; padding:1px; width:100%;">Deny</a>
                        </td>
                        
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="8" class="text-center">No bookings found.</td>
                    </tr>
                {% endfor %}

                {% for solo_booking in solo_bookings  %}

                <tr>
                    <td>{{ solo_booking.contact_name }}</td>
                    <td>{{ solo_booking.s_email}}</td>
                    <td>{{ solo_booking.s_phone  }}</td>
                    <td>Solo</td>
                    <td>{{ solo_booking.s_place_of_visit }}</td>
                    <td>{{ solo_booking.s_date_of_visit }}</td>
                    <td>{{ solo_booking.s_time_of_visit  }}</td>
                    <td>{{ solo_booking.s_tour_package }}</td>
                    <td>{{ solo_booking.s_payment_method }}</td>
                    <td>{{ solo_booking.s_status }}</td>
                    <td>
                        <a href="{% url 'solo_approval' solo_booking.id %}" class="btn btn-success btn-sm" style="margin:1px; padding:1px; width:100%  ;">Approve</a>
                        <a href="{% url 'solo_denial' solo_booking.id %}" class="btn btn-danger btn-sm" style="margin:1px; padding:1px; width:100%;">Deny</a>
                    </td>
                    
                </tr>
                {% empty %}
                    <tr>
                        <td colspan="8" class="text-center">No bookings found.</td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>
{% endblock %}