{% extends "base.html" %}
{% load static %}

{% block title %}Stevensons Contact{% endblock %}

{% block content %}

<div class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 header-text">
          <h2>Learn More <em>About Stevensons Trails</em></h2>
          <p>
            Since 2009, <em>Stevensons Trails</em> has specialized in organizing memorable safari experiences across East Africa. 
            We are a Kenya-based, registered limited company built on a passion for nature, adventure, and exceptional service. 
            With a team boasting over a decade of experience, we tailor each journey to meet our clients’ expectations and create unforgettable memories.
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="user-info">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="avatar">
            <img src="{% static 'tour/logo-stevensons-.png' %}" alt="Stevensons Trails Logo">
            <h4><b>Stevensons Trails Company</b></h4>
          </div>
        </div>
  
        <div class="col-lg-4 col-sm-6">
          <div class="info-box">
            <h4>🌍 Our Vision</h4>
            <h6>To be the safari partner of choice in East Africa.</h6>
          </div>
        </div>
  
        <div class="col-lg-4 col-sm-6">
          <div class="info-box">
            <h4>🎯 Our Mission</h4>
            <h6>To offer exceptional and personalized holiday experiences to every client.</h6>
          </div>
        </div>
  
        <div class="col-lg-4 col-sm-6">
          <div class="info-box">
            <h4>💎 Core Values</h4>
            <h6>Customer-centered service, integrity, excellence, and passion for adventure.</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  

{% endblock %}

