{% extends "base.html" %}
{% load static %}
{% block title %}Stevensons Trail Bookngs{% endblock %}
{% block content %}


<div class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 header-text">
          <h2 class="space-need">Embark on a <em>Solo Stevensons Trail Tour</em></h2>
          <h6>Next Tour Starts Soon</h6>
        </div>
      </div>
    </div>
  </div>


  <section class="contest-waiting">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h5>Other Preferable Sites Waiting For You:</h5>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="waiting-item" id="preferable-item">
            <img src="{% static 'tour/mountclimbing.jpg' %}" alt="Mountain Climbing">
            <div class="down-content">
              <h4>Mountain Climbing</h4>
              <p>Experience the thrill of scaling majestic peaks with our guided mountain climbing tours. Perfect for adventure enthusiasts!</p>
              <span class="price">Price: <em>$900</em></span>
              <span class="deadline">Deadline: <em>3 Days</em></span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="waiting-item" id="preferable-item">
            <img src="{% static 'tour/seadiving.jpg' %}" alt="Sea Diving">
            <div class="down-content">
              <h4>Sea Diving</h4>
              <p>Dive into the crystal-clear waters and explore vibrant coral reefs and marine life with our professional diving instructors.</p>
              <span class="price">Price: <em>$1,400</em></span>
              <span class="deadline">Deadline: <em>2 Days</em></span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="waiting-item" id="preferable-item">
            <img src="{% static 'tour/sunbathing.jpg' %}" alt="Beach Sunbathing">
            <div class="down-content">
              <h4>Beach Sunbathing</h4>
              <p>Relax on pristine sandy beaches, soak up the sun, and enjoy the serene beauty of coastal landscapes.</p>
              <span class="price">Price: <em>$1,250</em></span>
              <span class="deadline">Deadline: <em>4 Days</em></span>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="waiting-item" id="preferable-item">
            <img src="{% static 'tour/musuem.jpg' %}" alt="Shrines And Museum Scenery">
            <div class="down-content">
              <h4>Shrines And Museum Scenery</h4>
              <p>Discover the rich cultural heritage and historical landmarks with guided tours of ancient shrines and museums.</p>
              <span class="price">Price: <em>$1,600</em></span>
              <span class="deadline">Deadline: <em>10 Days</em></span>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <ul class="pagination">
            <li><a href="#"><i class="fa fa-arrow-left"></i></a></li>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#"><i class="fa fa-arrow-right"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>


  <section class="contest-win">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-center section-heading">
            <h6>Recently Added Tourism Site </h6>
            <h4>Current <em>Tour</em> to Visit Now &amp; <em>Book</em></h4>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="contest-item" id="top-site">
            <div class="top-content">
              <span class="award"> <a href="" style="color: white">Book Now</a>
              </span>
              <span class="price">$1,200</span>
            </div>
            <img src="{% static 'tour/chalbi.jpg' %}" alt="">
            <h4>Hot Climate</h4>
            <!-- {{-- <div class="info">
              <span class="participants"><img src="{% static 'images/icon-03.png' %}" alt=""><br>80 Participants</span>
              <span class="submittions"><img src="{% static 'images/icon-01.png' %}" alt=""><br>260 Submissions</span>
            </div> --}} -->
            <div class="border-button">
              <a href="{ url 'contestdetails' }">Book Solo Tour</a>
            </div>
            <span class="info">* Client will pay via Online Payments</span>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="contest-item" id="top-site">
            <div class="top-content">
              <span class="award"> <a href="" style="color: white">Book Now</a>
              </span>
              <span class="price">$2,400</span>
            </div>
            <img src="{% static 'tour/torokfalls.jpg' %}" alt="">
            <h4>Great Rift Valley</h4>
            <!-- {{-- <div class="info">
              <span class="participants"><img src="{% static 'images/icon-03.png' %}" alt=""><br>60 Participants</span>
              <span class="submittions"><img src="{% static 'images/icon-01.png' %}" alt=""><br>212 Submissions</span>
            </div> --}} -->
            <div class="border-button">
              <a href="{ url 'contestdetails' }">Book Solo Tour</a>
            </div>
            <span class="info">* Client will pay via Online Payments</span>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="contest-item" id="top-site">
            <div class="top-content">
              <span class="award"> <a href="" style="color: white">Book Now</a>
              </span>
              <span class="price">$3,600</span>
            </div>
            <img src="{% static 'tour/rendile.jpg' %}" alt="">
            <h4>Cushites Culture</h4>
            <!-- {{-- <div class="info">
              <span class="participants"><img src="{% static 'images/icon-03.png' %}" alt=""><br>55 Participants</span>
              <span class="submittions"><img src="{% static 'images/icon-01.png' %}" alt=""><br>150 Submissions</span>
            </div> --}} -->
            <div class="border-button">
              <a href="{ url 'contest-details' }">Book Solo Tour</a>
            </div>
            <span class="info">* Client will pay via Online Payments</span>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="contest-item" id="top-site">
            <div class="top-content" >
              <span class="award"> <a href="" style="color: white">Book Now</a>
              </span>
              <span class="price">$4,800</span>
            </div>
            <img src="{% static 'tour/migingo.jpg' %}" alt="">
            <h4>Migingo in Lake victoria</h4>
            <!-- {{-- <div class="info">
              <span class="participants"><img src="{% static 'images/icon-03.png' %}" alt=""><br>40 Participants</span>
              <span class="submittions"><img src="{% static 'images/icon-01.png' %}" alt=""><br>120 Submissions</span>
            </div> --}} -->
            <div class="border-button">
              <a href="{ url 'contestdetails' }">Book Solo Tour</a>
            </div>
            <span class="info">* Client will pay via Online Payments</span>
          </div>
        </div>
        <div class="col-lg-12">
          <ul class="pagination">
            <li><a href="#"><i class="fa fa-arrow-left"></i></a></li>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#"><i class="fa fa-arrow-right"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  
{% endblock %}