{% extends "base.html" %}

{% load static %}

{% block title %}Stevensons Trail Group Booking{% endblock %}

{% block content %}



<div class="page-heading" style="background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('{{ tourism_site.image.url }}');">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 offset-lg-2 header-text">
           {% if tourism_site.itinerary.all or tourism_site.Ug_itinerary.all or tourism_site.Tz_itinerary.all%}
        <h2>{{ day_count }}-day tour at <em style="color: black" >{{ tourism_site.place }}</em></h2>
        <p>Embark on an unforgettable journey into the heart of the wild. <br>
           <em style="color: rgb(3, 3, 3); font-weight: bold;">{{ tourism_site.description }}</em>
        </p>
    {% endif %}
          </div>

          {% if tourism_site.details %}
<div class="col-lg-8 offset-lg-2 header-text">
    <p style="color: black; font-weight: bold;">{{ tourism_site.details|linebreaksbr }}</p>
</div>
  {% endif %}
      </div>
  </div>
</div>



<div class="container mt-4">
  

  {% if itineraries %}
  <h2 class="text-center text-success">Itinerary</h2>
  <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover">
          <thead class="table-primary">
              <tr>
                  <th>Day</th>
                  <th>Destinations</th>
                  <th>Description</th>
                  <th>Meals</th>
              </tr>
          </thead>
          <tbody>
              {% for itinerary in itineraries %}
              <tr>
                  <td>{{ itinerary.day_number }}</td>
                  <td>{{ itinerary.title }}</td>
                  <td>{{ itinerary.description|linebreaksbr }}</td>
                  <td>{{ itinerary.meals|linebreaksbr }}</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>
  {% endif %}
</div>

<div class="tour-booking" id="booking">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="main-content">
            <h4>Book Your Tour At Stevensons Trails</h4>
            <p>Embark on an unforgettable adventure into the wild with us. Fill out the form below to reserve your spot for a {{ tourism_site.place }}  tour.</p>
            <form id="tour-booking-form" method="post">
              <div class="form-body">
                <div class="row">
                      {% if form.errors %}
                          <div class="alert alert-warning" role="alert">
                              <ul class="mb-0">
                                  {% for key, error in form.errors.items %}
                                      <li>{{ error }}</li>
                                  {% endfor %}
                              </ul>
                          </div>
                      {% endif %}
                      
                      
          

                  {% csrf_token %}
                  
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="">Name</label>
                      <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="">Contact name</label>
                      <input type="text" name="contactname" class="form-control" placeholder="Contact Name" required>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="">Email</label>
                      <input type="email" name="email" class="form-control" placeholder="Email" required>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="">Phone Number</label>
                      <input type="text" name="phone" class="form-control" placeholder="Phone Number" required>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="">Place Of Visit</label>
                      <input type="text" name="place_of_visit" value="{{ tourism_site.place }}" class="form-control" placeholder="Place of Visit" required>
                    </div>
                  </div>
                <!-- A drop down to show tour packages -->
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">Tour Package</label>
                    <select name="tour_package" id="tour_package" class="form-control" required>
                      <option value="" disabled selected>Select Tour Package</option>
                      <option value="Basic">Basic Package</option>
                      <option value="Premium">Premium Package</option>
                      <option value="Luxury">Luxury Package</option>
                    </select>
                  </div>
                </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                        <label for="">Arrival Date</label>
                        <input type="date" name="date_of_visit" id="date_of_visit" class="form-control" required>
                    </div>
                </div>
                <!-- end of visit -->
                 <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">End Of Journey</label>
                    <input type="date" name="end_of_visit" id="end_of_visit" class="form-control" required>
                  </div>
                 </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="">Time of Visit</label>
                      <input type="time" name="time_of_visit" class="form-control" placeholder="Time" required>
                    </div>
                  </div>
                  
                  <div class="col-lg-12">
                    <div class="form-group " >
                      <button type="submit"  >Inquire Now</button>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group" >
                      <p ><a href="{% url 'terms_conditions' %}" style="color: rgb(0, 255, 0);">View Our Terms And Conditions</a></p>   
                    </div>  

                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
          <!-- What's Included -->
          <div class="col-lg-3">
              <div class="card p-4">
                  <h3 class="text-success"><i class="fas fa-check-circle icon"></i> What's Included?</h3>
                  <ul class="list-group list-group-flush">
                      <li class="list-group-item">Accommodation and meals as stipulated in the itinerary.</li>
                      <li class="list-group-item">Transport in a chauffeur-driven Land Cruiser or tour van with a pop-up roof for easy game viewing & photography.</li>
                      <li class="list-group-item">Services of an English-speaking driver-guide.</li>
                      <li class="list-group-item">Game viewing drives and park entrance fees as indicated in the itinerary.</li>
                      <li class="list-group-item">All Government taxes and levies.</li>
                      <li class="list-group-item">Mineral water during drives only.</li>
                      <li class="list-group-item">24-hour stand-by contact number.</li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-3">
            <div class="card p-4">
              <h3 class="text-danger"><i class="fas fa-times-circle icon"></i> What's Excluded?</h3>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item">Visa fees and travel insurance.</li>
                  <li class="list-group-item">All items of personal nature (e.g., telephone call bills, fax/email bills, etc.).</li>
                  <li class="list-group-item">Tips and gratuities to hotel, lodge, camp staff, and driver-guide(s).</li>
                  <li class="list-group-item">Alcoholic and non-alcoholic drinks.</li>
                  <li class="list-group-item">Any local or international flight and departure taxes.</li>
                  <li class="list-group-item">Laundry services.</li>
                  <li class="list-group-item">Any other item(s) not included in our itinerary.</li>
              </ul>
          </div>
          </div>
              
        <div class="row">
          <div class="col-lg-12" style="margin-top: 40px;">
            <div class="text-center section-heading">
              <h6>Contact This User</h6>
              <h4>Don't Be Shy <em></em> to contact the <em>Stevensons Trail Company</em></h4>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="info-item">
              <i class="fa fa-phone"></i>
              <h4>Phone Numbers</h4>
              <span><a href="#">+254 796108272</a><br><a href="#">+254 726053339</a></span>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="info-item">
              <i class="fa fa-envelope"></i>
              <h4>Email Addresses</h4>
              <span><a href="#">stevensonstrail@company.com</a><br><a href="#">Stevensons Trail Company</a></span>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="info-item">
              <i class="fa fa-map-marked"></i>
              <h4>Office Location</h4>
              <span><a href="#">30700 Naivasha , Kenya,<br>IL 60601, Naivasha</a></span>
            </div>
          </div>
          <div class="col-lg-12">
            <form id="contact" action="{% url 'contact_messages' %}" method="post">
              <div class="row">
                <div class="col-lg-6">
                  {% if form.errors %}
                          <div class="alert alert-warning" role="alert">
                              <ul class="mb-0">
                                  {% for key, error in form.errors.items %}
                                      <li>{{ error }}</li>
                                  {% endfor %}
                              </ul>
                          </div>
                      {% endif %}
                     
                  {% csrf_token %}
                  <fieldset>
                    <input type="text" name="name" id="name" placeholder="Your Name..." autocomplete="on" required>
                  </fieldset>
                </div>
                <div class="col-lg-6">
                  <fieldset>
                    <input type="text" name="telephone" id="telephone" placeholder="Your Telephone..." autocomplete="on" required>
                  </fieldset>
                </div>
                <div class="col-lg-6">
                  <fieldset>
                    <input type="email" name="email" id="email" placeholder="Your E-mail..." required="">
                  </fieldset>
                </div>
                <div class="col-lg-6">
                  <fieldset>
                    <input type="text" name="subject" id="subject" placeholder="Subject..." autocomplete="on" >
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <textarea name="message" id="message" placeholder="Your Message"></textarea>
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <div class="form-group">
                    <button type="submit" id="form-submit">Send Message Now</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}