
{% extends "base.html" %}

{% load static %}

{% block title %}Stevensons Trails Home{% endblock %}

{% block content %}

 <!-- ***** Main Banner Area Start ***** -->
 <div class="main-banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="header-text">
            <h2>Enter a world of <em>Tourism</em> Culture  <em>Adventure</em> Hikes &amp;<em>Recreation</em></h2>
            <p>Stevensons Trails - Experience breathtaking landscapes, rich cultural heritage, and thrilling adventures. Whether you're looking for serene nature walks, exhilarating hikes, or unforgettable wildlife encounters, our platform connects you with the best tourism attractions.</p>
            <div class="buttons">
              <div class="big-border-button">
                <a href="{% url 'categories' %}">Explore Stevensons Trails Company</a>
              </div>
              <div class="icon-button">
                <a href="{% static 'tour/maasai_culture.mp4' %}" target="_blank"><i class="fa fa-play"></i> Watch Our Video Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Main Banner Area End ***** -->


  <section class="featured-items" id="featured-items">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-features owl-carousel" style="position: relative; z-index: 5;">
            
            {% for site in tourism_sites %}
            <div class="item" id="popular-site">
                <div class="thumb" id="thumb-card">
                  
                    <img src="{{ site.image.url }}" alt="">
                    <div class="hover-effect" id="delay-phone">
                        <a href="{% url 'book' site.id %}#booking" class="content">
                            <h4>{{ site.name }}<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></h4>
                            <ul>
                                <li><span>Place:</span>{{ site.place }}</li>
                                <li><span>Description:</span> {{ site.description }}</li>
                                <li><span>Book:</span><b style="color: blue;">Click to Reserve</b></li>
                            </ul>
                          </a>
                    </div>
                    
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>



<section class="popular-categories">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <div class="section-heading">
            <h6>Our Top Tourism SITES</h6>
            <h4>Check Out <em>Popular</em> Tourism <em>Sites Kenya</em></h4>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="main-button">
            <a href="{ url 'categories' }">Discover All Tourist Attraction Site</a>
          </div>
        </div>

        {% for site in tourism_sites1 %}
        <div class="col-lg-3 col-sm-6">
          
          <div class="popular-item" id="popular-site" >
            <div class="top-content">
              <div class="right">
                <h4>{{ site.name }}</h4>
                <!-- <span><em>126</em> Available Contests</span> -->
              </div>
            </div>
            <div class="thumb" id="top-site">
              <img src="{{ site.image.url }}" alt="">
              <span class="category">{{ site.place }}</span>
              
            </div>
            <div class="border-button">
              <a href="{% url 'book' site.id %}">Book Tour</a>
            </div>
          </div>
        </div>
        {% endfor %}


       
      </div>
    </div>
  </section>

  <section class="closed-contests">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-center section-heading">
            <h6>VISITED SITES</h6>
            <h4><em>Previous Visited</em> With Photography  and <em>Adventures</em></h4>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="owl-features owl-carousel" style="position: relative; z-index: 5;">
            <div class="item" id="popular-site" >
              <div class="closed-item" id="popular-site" >
                <div class="thumb"id="top-site" >
                  <img src="{% static 'tour/maasaimarawb.jpg' %}" alt="">
                  <span class="winner"><em>Place:</em>Maasai Mara</span>
                  <span class="price"><em>Event :</em>Wildebeest Migration </span>
                </div>
                <div class="down-content">
                  <div class="row">
                    <div class="col-7">
                      <h4>45 Participants <br><span>Number Of Tourist</span></h4>
                    </div>
                    <div class="col-5">
                      <h4 class="pics">320 Pictures <br><span>Pictures Taken</span></h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item" id="popular-site" >
              <div class="closed-item" id="popular-site" >
                <div class="thumb" id="top-site">
                  <img src="{% static 'tour/Mtkenyahike.jpg' %}" alt="">
                  <span class="winner"><em>Place:</em>  Mt Kenya</span>
                  <span class="price"><em>Event :</em> Hikes and Nature</span>
                </div>
                <div class="down-content">
                  <div class="row">
                    <div class="col-7">
                      <h4>76 Participants <br><span>Number Of Tourist</span></h4>
                    </div>
                    <div class="col-5">
                      <h4 class="pics">410 Pictures <br><span>Pictures Taken</span></h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item" id="popular-site" >
              <div class="closed-item" id="popular-site" >
                <div class="thumb" id="top-site">
                  <img src="{% static 'tour/Kilifi_bay_beach.jpg' %}" alt="">
                  <span class="winner"><em>Place:</em>Kilifi</span>
                  <span class="price"><em>Event :</em> Beach</span>
                </div>
                <div class="down-content">
                  <div class="row">
                    <div class="col-7">
                      <h4>65 Participants <br><span>Number Of Tourist</span></h4>
                    </div>
                    <div class="col-5">
                      <h4 class="pics">284 Pictures <br><span>Submited Pics</span></h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="text-center border-button">
            <a href="{url 'contests' }">Browse Open Contests</a>
          </div>
        </div>
      </div>
    </div>
  </section>



  <section class="pricing-plans">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-center section-heading">
            <h6>Visitor Testimonials</h6>
            <h4>What People Are Saying About <em>Our Tourist Attraction</em></h4>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="pricing-item" id="popular-site" >
            <img src="{% static 'tour/git.jpeg' %}" id="profile-img" alt="Visitor Image">
            <h4>John Williams</h4>
            <ul class="first-plan">
              <li>"Absolutely breathtaking views!"</li>
              <li>"The guided tour was informative and fun."</li>
              <li>"Perfect spot for photography enthusiasts."</li>
              <li>"Friendly staff and well-maintained facilities."</li>

            </ul>
            <span class="price">⭐⭐⭐⭐⭐</span>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="pricing-item" id="popular-site" >
            <img src="{% static 'tour/kaka.jpg' %}" id="profile-img" alt="Visitor Image">
            <h4>Tobias Kurgat</h4>
            <ul class="second-plan">
              <li>"An unforgettable experience!"</li>
              <li>"The history behind this place is fascinating."</li>
              <li>"Great for families and solo travelers alike."</li>
              <li>"The sunset view is simply magical."</li>

            </ul>
            <span class="price">⭐⭐⭐⭐⭐</span>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="pricing-item" id="popular-site" >
            <img src="{% static 'tour/carol.jpeg' %}" id="profile-img" alt="Visitor Image">
            <h4>Nancy Lerina</h4>
            <ul class="third-plan">
              <li>"One of the best places I've ever visited."</li>
              <li>"The architecture is stunning."</li>
              <li>"So much to see and explore."</li>
              <li>"The souvenir shop has unique items."</li>
              <li>"Can't wait to come back!"</li>
            </ul>
            <span class="price">⭐⭐⭐⭐⭐</span>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}