{% extends 'base.html' %}

{% load static %}

{% block title %}Terms and Conditions {% endblock %}

{% block content %}
<style>

    .terms {
      background: #f9f9f9;
      padding: 20px;
      margin-top: 60px;
      border-radius: 20px;
    }
       
    .container-terms {

      max-width: 800px;
      padding: 50px;
      margin: 60px    auto;
      background: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    h1 {
      text-align: center;
      color: #228b22;
      margin-bottom: 20px;
    }
    h2 {
      color: #228b22;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 15px;
      color: #121516;
    }
    ul {
      margin-bottom: 15px;
      padding-left: 20px;
    }
    ul li {
      margin-bottom: 10px;
    }
    .highlight {
      background-color: #f4f4f4;
      padding: 10px;
      border-left: 4px solid #FFD700;
      margin-bottom: 20px;
    }
    
    </style>

<div class="terms">
  <div class="container-terms">
    
    <h1>Terms and Conditions</h1>
<p><strong>Stevensons Trails</strong> purchases its accommodations, restaurant services, and other services from various independent suppliers that are not subject to Stevensons Trails' control. All such persons and entities are independent contractors. However, we ensure that the suppliers we contract have the licenses required under the laws of the land and possess the required Health & Safety Certificates.</p>

<p class="highlight">Stevensons Trails will ensure the smooth operation of the safaris but is not liable for delays in departure or interruption of tour arrangements caused by, but not limited to, acts of God, strikes, or any other causes beyond the control of Stevensons Trails.</p>

<p>Every effort will be made to operate as planned, but alterations may occur after the final itinerary has been issued. Accommodation and arranged sightseeing activities are subject to change due to unforeseen circumstances or circumstances beyond Stevensons Trails' control.</p>

<p>Stevensons Trails reserves the right to decline to accept or retain any person as a passenger should such person’s health, mental condition, physical infirmity, or general deportment impede the operation of the trip or the rights, welfare, or enjoyment of other passengers, at his/her own expense. Participants who are disruptive, endanger the group or the travel experience, or break local laws may be removed from the tour with no refund due and at their own expense.</p>


<h2>1. Booking and Payments</h2>
<ul>
    <li><strong>Deposit:</strong>A deposit of 15% of the tour price is required on confirmation, if made more than 90 days before the departure of the tour. Balance of payment is required 8 weeks prior to departure or on the date stipulated on the invoice.</li>
    <li><strong>Full Payment:</strong>If the reservation is made within 60 days of the departure date of the tour, full payment for the tour is required.</li>
    <li><strong>Currency:</strong> Prices are quoted in USD unless otherwise stated.</li>
</ul>

<h2>2. Cancellations & Amendments</h2>
<ul>
    <li><strong>Written cancellations:</strong> Cancellations must be made in writing and will become effective on the date of receipt at the offices of Stevensons Trails
    </li>
    <li class="highlight"><strong>Cancellation Fees:</strong>
        <ul>
            <li>More than 90 days before departure: 10%</li>
            <li>90 – 45 days before departure: 35%</li>
            <li>45 – 29 days before departure: 50%</li>
            <li>30 – 15 days before departure: 70%</li>
            <li>Less than 15 days before departure: 100%</li>
        </ul>
    </li>
    <li>Stevensons Trails will advise if specific hotels have an alternative cancellation policy.</li>
    <li>Stevensons Trails shall not be liable for damages of whatsoever nature, arising from any alterations or cancellations.</li>
    <li>Stevensons Trails shall at all times exercise its absolute discretion in regard to cancellation / refunds, including where passengers do not remain with the pre-booked holiday throughout its duration.</li>
    <li>Stevensons Trails uses many suppliers, each with their own amendment / cancellation charges. If the policy varies from the above stated policy, the same will be communicated at the time of booking.</li>
    <li>Cancellations and amendments are therefore subject to our supplier’s conditions and on the understanding that the passengers shall be liable for all additional costs arising from cancellations and amendments. Stevensons Trails reserves the right to claim a cancellation fee of up to 100% of the total package price, should the hotel claim the same.</li>
</ul>

<h2>3. Cancellation by Stevensons Trails</h2>
<ul>
  <li> Passengers should at all times be covered by cancellation insurance, in the case of force majeure. Force majeure includes (but is not limited to) war, threat of war, riot, civil disobedience or strife, industrial dispute, terrorist activity, acts of God, natural or nuclear disaster, fire, adverse weather conditions, level of water, technical or maintenance problems with transport providers, closure of airports or any unforeseeable or unavoidable event beyond our control.
  </li>
</ul>
<h2>4. Airlines Cancellation & Refunds</h2>
<ul class="highlight">
  <li>Cancellations of airline tickets are subject to rules of the airline. Details of the airline tickets’ cancellation policy should be obtained by the passenger in writing prior to confirmation.
  </li>
  <li>A handling fee of US$50 will be levied above and beyond all charges by the airline.</li>
</ul>
<h2>5. Tour Price</h2>
<ul>
  <li>Prices are based on current rates of exchange and are subject to variation if there are increases due to Government action, Value Added Tax, changes in exchange rates, increases in transportation costs or fuel prices, airfares or hotel rates.</li>
  <li>All prices are quoted in United States of America Dollars, unless otherwise stated. Payment is accepted at the rate of exchange at the time of receipt of payment. Bank charges are for the account of the remitter.</li>
  <li>No adjustments to the tour price will be made or considered once full prepayment for the tour has been received by The Company.</li>
</ul>

<h2>6. Refunds & Unused Services</h2>
<ul>
    <li>No claim for any refund of any description shall be considered by Stevensons Trails, nor will any liability attach to Stevensons Trails, if for any reason, specific tour arrangements, accommodation, excursions or meals are unavailable or denied to passengers during the tour.</li>
    <li>Stevensons Trails shall, however, endeavor at all times to comply with our pre-determined tour itinerary, but cannot be held responsible for any reason should this not be possible, it being noted that it may be in the interest or for the welfare of passengers that alterations are made for their safety and any additional and / or unavoidable expenses shall become their financial responsibility.</li>
    <li class="highlight">No refunds will be made for no shows, or any unused services.</li>
</ul>

<h2>7. Travel Insurance</h2>
<ul>
    <li> It is the responsibility of the passenger(s) to effect full and comprehensive insurance cover for personal baggage / effects, foreign and local currency, travellers cheques, medical expenses, personal accident and cancellation / curtailment.</li>
    <li>Stevensons Trails recommends that passenger(s) take out sufficient travel insurance, in particular medical and cancellation. If this is not available in the passenger(s) country of origin, it can be purchased from Stevensons Trails before arrival in Kenya.</li>
</ul>

<h2>8. Luggage and Personal Effects</h2>
<ul>
    <li>These are conveyed entirely at owner’s risk. Passengers should note that they are limited to one standard suitcase not weighing more than 20 kg, plus one small piece of hand luggage. When travelling on certain charter/domestic flights, baggage is limited to one soft bag weighing not more than 15 kg inclusive of hand luggage.</li>
    <li>Stevensons Trails accepts no responsibility for loss or damage to luggage or personal property from whatsoever causes arising. Passengers are advised to effect adequate insurance.</li>
</ul>

<h2>9. Passports, Visas & Health Requirements</h2>
<ul>
    <li>It is the passengers’ responsibility to ensure they possess the correct vaccination certificates, driver’s licenses and insurance policies.
    </li>
    <li>The countries of Eastern Africa have specific entry regulations and requirements and many recommend health precautions. It is the responsibility of all passengers / agents to ensure that their above-mentioned travel documents are in order and fully valid.</li>
    <li class="highlight">Passports need to be valid for 6 months after departure from Kenya.</li>
    <li>Passengers are recommended to approach their local consulate office(s) for general advice on travel documents. Immigration requirements are the responsibility of the individual passenger.
    </li>
    <li>Stevensons Trails recommends passengers / agents consult (before departure) their doctor or travel clinic for advice regarding inoculations and health precautions.</li>
</ul>
<h2>10. Payment And Confirmation</h2>
<ul>
  <li>Written confirmations will be sent to passengers (Directly or through their booking agents). Original documentation will be handed to passengers on arrival.</li>
  <li>Final payment is due 8 weeks prior to arrival or on the date stipulated on the invoice. Bookings made within 30 days prior to departure must be accompanied by full payment.
  </li>
</ul>
<h2>11. General Responsibility & Indemnity</h2>
<ul>
    <li>Stevensons Trails acts at all times in the capacity of agent for its passengers in all respects, and as such shall not be responsible in any way for damage, delay or loss of any kind whatsoever, it being noted that the tour is arranged subject to the conditions laid down. Stevensons Trails undertakes to provide all services offered subject to the terms and conditions set out herein.
    </li>
    <li>Stevensons Trails and its employees shall not be responsible for, and shall at all times be exempt from, any liability for accident, delay, injury or loss to any passenger including negligence by Stevesons Trails or its employees, whether arising from accidents, breakdowns or any other cause.</li>
    <li>The itinerary shall at all times be subject to alteration, amendment or cancellation without prior notice or warning for any cause and particularly, but without prejudice to the generality of the aforementioned.</li>
    <li>It shall furthermore be noted that in the event of such alterations, amendments or cancellation, whether or not imposed by the principals, no liability of any kind shall attach to Stevenson Trails for such alterations, amendments or cancellations.</li>
    <li>Stevensons Trails shall at all times and in its sole discretion and without in any way incurring liability, cancel, amend or terminate passenger(s) tour reservation(s), without being obliged to furnish any reason therefore, particularly in the event of illness,lack of general compatibility to the group, and such passenger(s) shall under such circumstances forfeit all right of refund of the tour price.</li>
    <li>Sevensons Trails operates tours as per the itinerary, weather and other conditions allowing. Stevensons Trails does not accept responsibility for acts of omission of a third party supplying services. Stevensons Trails is not responsible for any damages sustained by any passenger as a result of any act of omission whatsoever by any hotel, airline or other person. Stevensons Trails acts at all times as an agent of such service providers.</li>
</ul>

<h2>12. Wild Animals</h2>
<ul>
    <li> Passengers need to be aware that Safaris frequently visit areas with wild animals. Neither Stevensons Trails nor its employees, nor our agents can be held responsible in any way whatsoever for any injury or incident while on safari.</li>
</ul>

<h2>13. Special Requests</h2>
<ul>
    <li>Special requests (e.g., dietary needs, room preferences) should be made in writing at least one month in advance.Whilst every effort will be made to ensure that these requests are fulfilled, they cannot be guaranteed.</li>
</ul>

<h2>14. Transportation & Guides</h2>
<ul>
    <li>Air, rail, road and other departure times are supplied by the Carriers. They are at all times subject to traffic control restrictions and weather conditions. Stevensons Trails is not responsible for any delays or inconvenience which may arise. Transportation in air- conditioned vehicles must be requested in writing. No guarantees are made to offer the same.</li>
    <li>Safaris Limited uses only registered guides and specialist guides. Stevensons Trails endeavors at all times to employ specific language guides as requested and when available.</li>
</ul>

  </div>
</div>



{% endblock %}